<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content1">
    <div class="container">
        <div class="card mt-5">
            <div class="card-header">
                <h1 class="mb-4">Ajouter Patient</h1>
            </div>
            <div class="card-body">
                <form method="post" th:action="@{save}">
                    <div class="mb-3">
                        <label for="nom" class="form-label">Nom:</label>
                        <input th:value="${patient.nom}" type="text" class="form-control" id="nom" name="nom">
                        <span class="text-danger" th:errors="${patient.nom}"></span>
                    </div>
                    <div class="mb-3">
                        <label for="dateNaissance" class="form-label">Date de naissance:</label>
                        <input th:value="${patient.dateNaissance}" type="date" class="form-control" id="dateNaissance" name="dateNaissance">
                        <span class="text-danger" th:errors="${patient.dateNaissance}"></span>

                    </div>
                    <div class="mb-3">
                        <label for="malade" class="form-label">Malade:</label>
                        <div class="form-check">
                            <input th:value="${patient.malade}" class="form-check-input" type="checkbox" id="malade" name="malade">
                            <label class="form-check-label" for="malade">Oui</label>
                            <span class="text-danger" th:errors="${patient.malade}"></span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="score" class="form-label">Score:</label>
                        <input th:value="${patient.score}" type="number" class="form-control" id="score" name="score">
                        <span class="text-danger" th:errors="${patient.score}"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Ajouter Patient</button>
                </form>
            </div>

    </div>
    </div>
</div>
</body>
</html>